<html>
    <head>
        <title>Sivairon's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sivairon's BLOG</a></h1>
        </div>

        <div>
            <pDate>published: 06.07.2017, 12:14</pDate>
            <h2><a href="">Post 1</a></h2>
            <p>Uhhhh... Kappapride</p>
        </div>

        <div>
            <pdate>published: 06.07.2017, 12:14</pDate>
            <h2><a href="">Post 2</a></h2>
            <p>Girls who code :V</p>
        </div>
    </body>
</html>
